html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
}

.ErrorApp {
  height: 100vh;
}

.ErrorApp__content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ErrorApp__title {
  font-size: 3rem;
}
.ErrorApp__solution {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.ErrorApp__image {
  width: 200px;
}
.ErrorApp__API-error {
  font-size: 2rem;
  margin-top: 1rem;
  color: red;
}
.SearchBar {
  width: 50%;
  margin: auto;
  padding-top: 1em;
}
.ErrorApp__API-error {
  white-space: nowrap;
}
.App__VideoDetail-VideoList {
  /*dsfsdfsdfsdds*/
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: 80%;
}

.VideoList {
  width: 30%;
  margin-left: 2rem;
}
.VideoItem:not(.VideoItem:last-of-type) {
  margin-bottom: 1em;
}
iframe {
  height: 60vh;
}
.VideoDetail {
  width: 70%;
  margin-left: 2rem;
}
